#root,html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;

}

.app{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,  url('./images/yeshi-kangrang-wTD1-_u8x1g-unsplash\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;

}

.card{
  background-color: whitesmoke;
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px;
}


.heading{
    display: flex;
    align-items: center;
    height: 580px;
    font-family: 'League Spartan', sans-serif;


}



/* CSS */
.btn{
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  width: 30%;
}



@media only screen and (max-width: 600px){
    .card{
        width: 80%;
        height: 30%;

    }
    .btn{
        width: 100%;;
    }
}